// v-cloak vue directive
[v-cloak] {
	display: none;
}

/** START admin-lte customizations **/

//admin-lte customize right lateral preferences panel
#control-sidebar-settings-tab {
	margin-top: 10px;
}

//admin-lte customize
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: 206px;
}

//admin-lte customize breadcrumb
.breadcrumb > li + li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #3c3a3a;
}

//admin-lte customize border
.btn {
	border: 0;
}

//admin-lte opacity overwrite
.box .overlay,
.overlay-wrapper .overlay {
	background: rgba(255, 255, 255, 0.3);
}

//admin-lte user profile color overwrite
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #605ca8;
}

//admin-lte user top mini panel
#logout-button {
	background: #ff6347;
	color: #fff;
}

//admin-lte user top mini panel
#profile-button {
	background: #3097d1;
	color: #fff;
}

//admin-lte user preferences collapsible side panel
ul.language-selector {
	min-width: 0;
	background-color: #141a1d;
	border-color: #141a1d;
	padding: 2px;
	margin: 2px;
}

ul.language-selector li a {
	cursor: pointer;
}

//admin-lte user preferences collapsible side panel
ul.color-theme-selector {
	min-width: 0;
	border-color: #141a1d;
	padding: 2px;
	margin: 2px;
}

//admin-lte user preferences collapsible side panel
aside#sidebar.control-sidebar.control-sidebar-dark.control-sidebar-open ul.color-theme-selector {
	background-color: #141a1d;
	max-height: 105px;
	overflow-y: scroll;
	cursor:pointer;
}

//admin-lte user preferences collapsible side panel
aside#sidebar.control-sidebar.control-sidebar-dark.control-sidebar-open ul.color-theme-selector li > a {
	color: #95989e;
}

//admin-lte user preferences collapsible side panel
aside#sidebar.control-sidebar.control-sidebar-dark.control-sidebar-open a.dropdown-toggle {
	color: #fff;
}

aside#sidebar.control-sidebar.control-sidebar-light.control-sidebar-open ul.color-theme-selector {
	max-height: 105px;
	overflow-y: scroll;
	cursor:pointer;
}

//admin-lte user preferences collapsible side panel
aside#sidebar.control-sidebar.control-sidebar-light.control-sidebar-open a.dropdown-toggle {
	color: #141a1d;
}

//admin-lte customizations, for preferences
aside#sidebar.control-sidebar.control-sidebar-open {
	height: 100%;
}

//for the top white border on the top of user mini-menu
.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 1px solid grey;
	padding: 0;
}

//admin-lte customization for same size irrespective of existence of title
section.content-header {
	min-height: 49px;
}

// removing of extra margin - needed
.invoice { //fixme
	margin: 0;
}

// notifications width
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
	width: 280px !important;
}

/* END admin-lte customizations */

/** START datatables customizations **/

div.DTE_Inline div.DTE_Inline_Field div.DTE_Field input,
div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Field input {
	width: 100%;
	text-align: center;
}

table .editable {
	cursor: pointer;
}

.dataTables_wrapper table.dataTable thead th {
	background-color: #405665;
	color: white;
}

table.dataTable thead th,
table.dataTable tfoot th {
	font-weight: normal;
}

table.dataTable thead th {
	position: relative;
	background-image: none !important;
}

.dataTables_wrapper table.dataTable tfoot td {
	background-color: #405665;
	color: white;
}

table.dataTable tfoot td {
	position: relative;
	background-image: none !important;
}

//datatables sorting buttons style
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
	position: absolute;
	top: calc(50% - 8.17px);
	right: 3px;
	display: block;
	font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
	content: "\f0dc";
	color: #ddd;
	font-size: 0.8em;
	padding-top: 0.12em;
}

table.dataTable thead th.sorting_asc:after {
	content: "\f0de";
}

table.dataTable thead th.sorting_desc:after {
	content: "\f0dd";
}

/* datatables-responsive control button */
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
	position: relative;
	cursor: pointer;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
	color: inherit;
	background-color:inherit;
	font-family: "FontAwesome";
	content: '\f0fe';
	box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
	background-color: inherit;
	font-family: "FontAwesome";
	content: '\f146';
}

//bold on selected tr line in tables
table > tbody > tr.selected {
	font-weight: bold;
}

//fix datatables search input border in safari
div.dataTables_filter input {
	border: 1px solid #ddd;
}

div.dataTables_filter label,
div.dataTables_length label {
	font-weight: 400;
}

//datatables buttons spacing, when buttons are active
.dt-length .dataTables_length {
	margin-right: 4px;
}

//enforce border on datatables select to match paper style
div.dataTables_length > label > div.bootstrap-select > button.btn.dropdown-toggle.btn-default {
	box-shadow: none;
	border: 1px solid #ddd;
}

/* END datatables customizations */

/** START bootstrap-paper customizations **/
.box > .box-header > .box-tools .btn,
.actions-btn.bs-select-all.btn.btn-default {
	border: 0;
	box-shadow: none;
}

.actions-btn.btn.btn-default {
  border: 0;
  box-shadow: none;
  font-weight: 600;
  font-size: 14px;
  color: #009688;
}

div.bootstrap-select > button.btn.dropdown-toggle.btn-default {
	box-shadow: none;
	border-bottom: 1px solid #ddd;
}

.box > .box-header > .box-tools .btn {
	border: 0;
	box-shadow: none;
}

.input-group-addon:last-child {
	border: 0;
	box-shadow: inset 0 -1px 0 #ddd;
}

.fa-search.input-group-addon {
	cursor:pointer;
}

.label {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.4s;
}

input[type='checkbox']:indeterminate:after {
	background-image: url('/images/indeterminate.png');
	border-color: #009688;
}

input[type="radio"]:before, input[type="radio"]:after {
	border-radius: 0;
}
/* END bootstrap-paper customizations */

/** START tutorial library **/
.popover.tour-tour {
	background: #22262e;
	color: white;
	border-radius: 0px;
	opacity: 0.9;
	box-shadow: 0 -2px 10px #888888;
}

.popover-title {
	background: #22262e;
	color: white;
	text-align: center;
	font-size: 13px;
}

.popover-content {
	font-size: 13px;
}

.popover.bottom > .arrow:after {
	border-bottom-color: red;
}

.popover.top > .arrow:after {
	border-top-color: red;
}

.popover.left > .arrow:after {
	border-left-color: red;
}

.popover.right > .arrow:after {
	border-right-color: red;
}

.btn-end { //redenumit in margin-left-xs in pagina de tutorial si stergem
	margin-left: 5px;
}
/* END tutorial library */

/** START spinner classes used for ajax loading **/
.fa.fa-spinner.fa-spin.spinner-custom {
	color: #f44336;
}

.fa.fa-spinner.fa-spin.spinner-custom-small {
	color: #f44336;
	font-size: 18px;
}
/* END spinner classes used for ajax loading */

/** START helper classes **/

.margin-top-md {
	margin-top: 20px;
}

.margin-bottom-md {
	margin-bottom: 20px;
}

.margin-left-md {
	margin-left: 20px;
}

.margin-right-md {
	margin-right: 20px;
}

.margin-none {
	margin: 0;
}

.bold {
	font-weight: bold;
}

.margin-left-xs {
	margin-left: 5px;
}

.margin-right-xs {
	margin-right: 5px;
}

.margin-top-xs {
	margin-top: 5px;
}

.margin-bottom-xs {
	margin-bottom: 5px;
}

.padding-left-xs {
	padding-left: 5px;
}

.padding-right-xs {
	padding-right: 5px;
}

.padding-top-xs {
	padding-top: 5px;
}

.padding-bottom-xs {
	padding-bottom: 5px;
}

.padding-none {
	padding: 0;
}

.margin-left-sm {
	margin-left: 10px;
}

.margin-right-sm {
	margin-right: 10px;
}

.margin-top-sm {
	margin-top: 10px;
}

.margin-bottom-sm {
	margin-bottom: 10px;
}

.flex-center-x {
	display: flex;
	justify-content: center;
}

.flex-center-y {
	display: flex;
	align-items: center;
}

.flex-center-xy {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* END helper classes */

// datepicker fix, may be obsolete in the future
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top,
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-right.datepicker-orient-top {
	z-index: 1035 !important;
}

//bootstrap select width
.bootstrap-select.btn-group .dropdown-menu {
	width: 100%;
	min-width: 0;
}

//used for breadcrumb color for inactive links
a.greyed {
	color: rgba(68, 68, 68, 0.5) !important;
}

//no underline for links, such as in datatables buttons
a:hover,
a:focus {
	text-decoration: none;
	color: #72afd2;
}

//main app grey-ish background
.content-wrapper {
	background-image: url("/images/background.jpg");
}

//used for non datatables tables
table {
	width: 100%;
}

//applied also for tables not drawn with datatables
//important is also required
table.dt-center-th th {
	text-align: center;
	vertical-align: middle !important;
}

//required for datatables and other tables, for a fine border instead of the default, thick grey one
//important is also required
.table > thead > tr > th {
	border-top: 1.2px solid #111 !important;
	border-bottom: 1.2px solid #111 !important;
}

//required for datatables and other tables, for a fine border instead of the default, thick grey one
//important is also required
.table > tfoot > tr > td {
	border-top: 1.2px solid #111 !important;
	border-bottom: 1.2px solid #111 !important;
}

/* tooltip */

.tooltip {
	display: none;
	opacity: 0;
	transition: opacity .15s;
	pointer-events: none;
	padding: 4px;
	z-index: 10000;
}

.tooltip .tooltip-content {
	background: black;
	opacity: 0.8;
	color: white;
	padding: 4px 8px;
}

.tooltip.tooltip-open-transitionend {
	display: block;
}

.tooltip.tooltip-after-open {
	opacity: 0.8;
}

/* end tooltip */

/* stop-impersonating button */
div.stop-impersonating {
	z-index: 2000;
	position: fixed;
	top: 14px;
}
/* end stop-impersonating button */

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}